[Unit]
Description=Celery Service
After=network.target

[Service]
Type=forking
User=ubuntu
Group=ubuntu
EnvironmentFile=-/var/www/easybuy/.env
WorkingDirectory=/var/www/easybuy
ExecStart=/var/www/easybuy/venv/bin/celery -A easybuy multi start w1 --loglevel=info
ExecStop=/var/www/easybuy/venv/bin/celery multi stopwait w1
ExecReload=/var/www/easybuy/venv/bin/celery -A easybuy multi restart w1 --loglevel=info
Restart=always

[Install]
WantedBy=multi-user.target